.popup{
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 19px;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  /*Прошу прощения, по поводу горизонтального скрола - я проверил сайт на 3х браузерах(edge, chrome, yandex) и ни в одном у меня на этом разрешении его не было. Старший студент
   так же его не обнаружил. Я не могу отследить этот вопрос (возможно есть какая то спец методика), но на всякий случай задал бордер бокс блокам.*/
  justify-content: space-around;
  align-items: center;
}

