.popup{
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 320px;
  padding: 0 19px;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  /*Дело в том, что в макете фигмы блок не центрировал по вертикали, поэтому я задавал
  отступы как в макете. Мы обсудили это с наставниками и они сказали центрировать как сказали вы - 
  в том числе еи по вертикали*/
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 350px) {
  .popup{
    max-width: 100%;
  }
}