.form__name{
  padding: 0;
  box-sizing: border-box;
  margin: 75px 0 0;
  display: block;
  width: 100%;
  min-height: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__name::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__name:focus{
  outline: none;
  border: 2px solid #000;
  border-radius: 2px;
}

.form__name:-webkit-input-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__name:-moz-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__name:-ms-input-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
