.popup__input{
  padding: 0;
  box-sizing: border-box;
  margin: 25px 0 0;
  display: block;
  width: 100%;
  border: none;
  background-color: #fff;
  color: #000;
  line-height: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:first-child{
  margin: 0;
}

.popup__input::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input:focus{
  outline: none;
  border: 2px solid #000;
  border-radius: 2px;
}

.popup__input:-webkit-input-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input:-moz-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input:-ms-input-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (min-width: 880px) {
  .popup__input{
    margin: 23px 0 0;
  }
  
}