.profile__button-image{
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../../../images/profile/__button/profile__button.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  right: 38px;
  top: 153px;
}

.profile__button-image:hover{
  opacity: 0.6;
}

@media screen and (min-width: 880px) {
  .profile__button-image{
    background-image: url(../../../images/profile/__button/profile__button_880.svg);
    width: 24px;
    height: 24px;
    right: 393px;
    top: 36px;
  } 
}