.form__info{
  padding: 0;
  box-sizing: border-box;
  margin: 30px 0 0;
  display: block;
  width: 100%;
  min-height: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__info::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__info:focus{
  outline: none;
  border: 2px solid #000;
  border-radius: 2px;
}

.form__info:-webkit-input-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__info:-moz-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__info:-ms-input-placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
